.container {
  position: absolute;
  top: 10%;
  left: 20%;
  display: grid;
  width: 800px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(38, 123, 235);
  border-radius: 10px;

  .column {
    background-color: rgb(231, 226, 226);
    margin: 5px;
    border-radius: 10px;

    &__title {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__task {
      text-transform: uppercase;
      font-weight: bold;
    }

    &__options {
      font-weight: bold;
      padding-bottom: 5px;
    }

    &__content {
      display: grid;
      grid-template-rows: fit-content(50px);
      background-color: rgb(104, 224, 75);
    }
  }
}