* {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.container {
  position: absolute;
  top: 10%;
  left: 20%;
  display: grid;
  width: 800px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(38, 123, 235);
  border-radius: 10px;

  .column {
    height: fit-content;
    background-color: rgb(231, 226, 226);
    margin: 5px;
    border-radius: 10px;

    &__title {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__task {
      text-transform: uppercase;
      font-weight: bold;
    }

    &__options {
      font-weight: bold;
      padding-bottom: 5px;
      cursor: pointer;
    }

    &__content {

      .item {
        height: fit-content;
        background-color: rgb(255, 255, 255);
        margin: 10px;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;

        &__footer {
          display: flex;
          margin-top: 10px;
          justify-content: start;
          align-items: center;

          img {
            float: left;
          }
        }

        &__counter, &__comments, &__likes {
          margin-left: 5px;
        }
      }
    }

    &__footer {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: grey;
      cursor: pointer;
    }
  }
}